#game-page{
  background-color: rgb(124, 196, 240);
}

#game-page p{
  font-family: consolas;
  font-size: 32px;
  /*color: rgb(219, 178, 128);*/
  color: rgb(206, 115, 4);
  font-weight: bolder;
}

#first-line{
  margin: 150px auto 0px 650px;
}

#second-line{
  margin: 0px auto 0px 650px;
}

#sam {
    background-image: url("../img/fish.png");
    background-repeat: no-repeat;
    background-size: cover;
   /* background-color: rgb(188, 11, 62); */
    z-index: 1;
    position: absolute;
    border: none;
}

#bubble {
  background-image: url("../img/shoot.png");
  display: none;
  background-repeat: no-repeat;
  background-size: cover;
 /* background-color: rgb(188, 11, 62); */
  z-index: 1;
  position: absolute;
  border: none;
}

.guards {
    background-image: url("../img/crab.png");
    transform: rotate(270deg);
    background-repeat: no-repeat;
    background-size: cover;
   /* background-color: rgb(11, 188, 153); */
    position: absolute;
}

.plank {
  background-image: url("../img/plankton.png");
  transform: rotate(60deg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}


#item1 { grid-area: "1"; }
#item2 { grid-area: "2"; }
#item3 { grid-area: "3"; }
#item4 { grid-area: "4"; }
#item5 { grid-area: "5"; }
#item6 { grid-area: "6"; }
#item7 { grid-area: "7"; }
#item8 { grid-area: "8"; }
#item9 { grid-area: "9"; }

#grid-container {
  width: 800px;
  height: 400px;  
  display: grid;
  grid-template-areas:
    '1 2 3'
    '4 5 6'
    '7 8 9';
  gap: 0px;
  background-image: url("../img/seabed.png");
  background-repeat: no-repeat;
  background-size: cover;

  padding: 10px;
  position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#grid-container > div {
  text-align: center;
  padding: 10px 0;
  font-size: 30px;
 /* border-style: solid; */
}
  
  #item1 {
    border-style: solid;
    border-width: 25px 0px 0px 0px
  }
  #item2 {
    border-style: solid;
    border-width: 25px 0px 0px 0px
  }
  #item3 {
    background-image: url("../img/block3.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-style: solid;
    border-width: 25px 25px 0px 0px
  }
  #item4 {
    background-image: url("../img/block4.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-style: solid;
    border-width: 0px 0px 0px 25px
  }
  #item5 {
    border-style: solid;
    border-width: 0px 0px 0px 0px
  }
  #item6 {
    border-style: solid;
    border-width: 0px 25px 0px 0px
  }
  #item7 {
    background-image: url("../img/block7.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-style: solid;
    border-width: 0px 0px 25px 25px
  }
  #item8 {
    background-image: url("../img/block8.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-style: solid;
    border-width: 0px 0px 25px 0px
  }
  #item9 {
    border-style: solid;
    border-width: 0px 0px 25px 0px
  }



  /* gameover and start pages*/


  .page{
    background-color: rgb(124, 196, 240);
    position: relative;
    text-align: center;
    font-family: consolas;
    font-size: 32px;
    color: rgb(206, 115, 4);
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .screen{
    margin-top: 100px;
  }

  #go{
    border: none;
    outline: none;
    border-radius:5px;
    padding: 20px 100px;
    font-size: 40px;
    color: rgb(217, 6, 185);
    opacity: 0.5;

  }
 #go:hover{
  background-color: rgb(237, 203, 176);
  color: rgb(126, 59, 207);
 }
 #play-again:hover{
  background-color: rgb(237, 203, 176);
  color: rgb(126, 59, 207);
 }
 
 #img-start{
  width: 550px;
  height: 500px;
  background-image: url("../img/start.png");
  align-items: center;
  background-repeat: no-repeat;
  border-radius: 10px;
 }


 #img-end{
  width: 550px;
  height: 500px;
  background-image: url("../img/cancer.png");
  align-items: center;
  background-repeat: no-repeat;
  border-radius: 10px;
 }


 .gameover{
  margin: 0px;
 }

 #play-again{
  border: none;
  outline: none;
  border-radius:5px;
  padding: 20px 50px;
  font-size: 35px;
  color: rgb(217, 6, 185);
  opacity: 0.6;
  margin: 10px 0px 0px 40px;

}